<h1>Hello <%= @user.username %>, Welcome to User Options</h1>
<h3><%= link_to "Create a New Mission", new_mission_path %></h3>
<h3><%= link_to "Create a New Team", new_team_path %></h3>
<h3><%= link_to "Create a New Superhero", new_superhero_path %></h3>