<h1>We need a superhero to save the day!</h1>
<em>Edit the form to update this superhero</em>

<%= render 'form' %>

<p><%= link_to "Delete Superhero", @superhero, data: { confirm: "Are you sure?" }, :method => :delete %></p>